xml-patch/patch-document-00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:ietf:rfc:9999" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:import schemaLocation="rfc5261-types.xsd"/>
    <xs:element name="patch">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="add" type="add"/>
                <xs:element name="replace" type="replace"/>
                <xs:element name="remove" type="remove"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>